.panel__entrails {
    width: 130px;
    position: fixed;
    z-index: 1;
    background: #ff6b;
    text-align: right;
    float: right;
}


.panel__text {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}
