.footer {
    background-color: #ffe;
    width: 100%;
}

.footer__title {
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
}

.footer__text {
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.footer__body {
    margin-top: 2%;
    padding: 30px 0px 30px 0px;
}

.footer__col {
    column-count: 2;
}

.footer__elem {
    text-align: center;
}